{% extends 'admin.html.twig' %}
{% block newavis %}

{% block title %}New Avis{% endblock %}


    <h1>Create new Avis</h1>

    {{ include('avis_gestion/_form.html.twig') }}

    <a href="{{ path('app_avis_gestion_index') }}">back to list</a>
{% endblock %}
