{% extends 'base.html.twig' %}

{% block title %}Mes enfants{% endblock %}

{% block body %}
    <h1>Modifier {{child.name}}</h1>

    {{ include('childrens/_form.html.twig', {'button_label': 'Modifier'}) }}
    {{ include('childrens/_delete_form.html.twig') }}
    <a href="{{ path('account_index') }}">Mon Compte</a>
{% endblock %}
