{% extends 'admin.html.twig' %}
								{% block editactivites %}

{% block title %}Edit Activities{% endblock %}

    <h1>Edit Activities</h1>

    {{ include('activities_gestion/_form.html.twig', {'button_label': 'Mise à jour'}) }}

    <a class=" btn btn-primary btnReturn" href="{{ path('app_activities_gestion_index') }}">Retour liste</a>

    {{ include('activities_gestion/_delete_form.html.twig') }}
{% endblock %}
