.card {
    border: solid 5px var(--clr-3);
    padding: 2rem;
    max-width: 40%;
    background-color: var(--clr-2);
    color: white;
}
.card .card-title {
    display: flex;
}
.card .card-title h2 {
    color: white;
    width: 100%;
    margin-bottom: 1rem;;
}


.card .card-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

/* .card .card-details .acti-start {
    gap: 5rem;
} */
/* .avatar-anim {
    display: flex;
} */

.card .card-details .acti-illustration img {
    width: 100%;
}

.card .card-details .acti-text {
    display: flex;
    justify-content: space-between;
    align-items: center; gap:1rem;
    padding: 1rem;
    text-align: center;
   
}
.card .card-details .acti-text .avatar-icon {
    display: flex;
    justify-content: center;
    align-items:  center;
        width: 45%;
}
.card .card-details .acti-text .avatar-icon img{
        width: 30px;;
}


.activites-page {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}

.card-btn {
    padding: 10px;
    background-color: var(--clr-3);
    font-weight: bold;
    border-radius: 10px;
    color: var(--clr-1);
   
    text-align: center;
    
}

.ulcenter {
    display:inline-block;
}
.ulcenter li {
    text-align: center;
}

.bouton-acti {
    width: 100%;
    height: 2.5rem;
    margin-top: 2rem;
}



.avatar-icon img {
    width: 60%;
    margin-left: 45%;
    border-radius: 50%;
}
@media screen and (max-width:900px) {
    .activites-page {
        display: block;
    }
    .card {

        max-width: 90%;
        margin: 0 auto;
        height: 50%;
        margin-bottom: 2rem;
    }
    .card-btn {
        margin-top: 1rem;
    }

    .acti-text p {
        overflow: scroll;
        max-height: 100% ;
    }
}

@media screen and (max-width:760px) {

    .card-details {
        display: block;
    }

    .acti-text {
        width: 100%;
        text-align: center;
    }

    .acti-illustration {
        width: 100%;
    }
    .card {
        width: 100%;
        max-height: 30%;
    }

}


