* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: black;
}
li {
    list-style-type: none;
}

body {
    background-color: lightgrey;
}
header {
    background-color: rgb(78, 126, 140);
    display: flex;
}

.flex {
    display: flex;
    justify-content: space-evenly;
}

footer {
    background-color: rgb(233, 207, 42);
}

.logo_homepage img {
    width: 85px;
}


 /***************************** RESPONSIVE ******************************/
 @media screen and (min-width : 993px) {
        
}

/************************* width <= 992 px *****************************/

@media screen and (max-width : 992px) {

}

/************************* width <= 768 px *****************************/

@media screen and (max-width : 768px) {
    
}

/************************* width <= 500 px *****************************/

@media screen and (max-width : 500px) {
    .logo_homepage img {
        width: 75%;
    }

    nav, h1 {
        display: none;
    }

}