@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

:root {
    --clr-1: #44638a;
    --clr-2: #4e7e8c;
    --clr-3: #e9cf2a;
    --clr-4: #d3d3d3;
  }


img {
    width: 100%;
}
h1 {
    font-family: 'Pacifico';
    text-align: center;
    color: var(--clr-1);
    padding: 1%;
}
a,footer {
    color: var(--clr-1)
}

a {
    text-decoration: none
}

li {
    list-style-type: none
}

body {
    background-color: #d3d3d3;
}
.container{
    /* margin-top: 1rem; */
    margin-bottom: 2rem;
    min-height: 80vh;
}
header {
    background-color: #4e7e8c;
    font-family: 'Pacifico';
}

header nav ul li a:visited {
    color: #fff
}

header nav ul li a:hover {
    color: var(--clr-1);
    background-color: #e8cf49;
    padding: 10px;
    border-radius: 5px;
    font-weight: 700;
    box-shadow: 10px 5px 5px #03035e
}

header nav ul li a:active {
    color: #fff;
    background-color: #e8cf49
}

footer {
    background-color: #e9cf2a;
    font-family: "Roboto",sans-serif;
    position: absolute;
    text-align: center;
    /* bottom: 0; */


}

.logo_homepage img {
    width: 85px
}

.copyright {
    font-family: "Pacifico"
}

.footer-contact {
    font-weight: 500;
    text-align: center
}

title {
    display: none
}

.flex-2 ul,.social-media {
    display: flex
}

ul header {
    gap: 4rem
}

.copyright {
    text-align: center
}

header nav ul {
    display: flex;
    gap: 4rem
}

.flex {
    padding-top: 1em;
    display: flex;
    font-weight: 700;
    justify-content: space-evenly;
    align-items: center
}

.burger-button,.burger-menu,.title {
    display: none
}

@media screen and (min-width:993px) {
    .logo {
        margin: auto;
        max-width: 30%
    }

    .logo img {
        width: 50%;
        margin-left: 20%
    }

    header {
        display: flex;
        max-height: 100%;
        max-width: 100%;
        font-size: x-large
    }

    header nav ul,nav {
        justify-content: center
    }

    header nav ul {
        display: flex;
        gap: 4rem
    }

    nav {
        width: 70%;
        margin-top: 1em;
    }

    footer,footer img {
        width: 100%
    }

    .flex-2 ul {
        justify-content: space-between;
        margin-left: 15%;
        margin-right: 13%
    }

    .social-media {
        max-width: 10%;
        margin-left: 3%
    }

    .social-icon {
        text-align: center
    }
}

@media screen and (max-width:992px) {
    .logo {
        padding: 1%;
        margin: auto;
        max-width: 50%
    }

    .logo img {
        width: 60%;
        margin-left: 25%;
        margin-right: 25%
    }

    header {
        max-height: 100%;
        max-width: 100%;
        font-size: large
    }

    header nav ul,nav {
        width: 100%;
        justify-content: center
    }

    footer,footer img {
        width: 100%
    }

    .flex-2 ul {
        justify-content: space-between;
        margin-left: 15%;
        margin-right: 13%
    }

    .footer-contact {
        text-align: center
    }

    .social-media {
        max-width: 13%;
        margin-left: 3%
    }

    .social-icon {
        text-align: center
    }
}

@media screen and (max-width:768px) {
    .logo {
        padding: 1%;
        margin: auto;
        max-width: 50%
    }

    .logo img {
        width: 50%
    }

    header {
        max-height: 100%;
        max-width: 100%;
        font-size: large
    }

    header nav ul,nav {
        width: 100%;
        justify-content: center
    }

    header nav ul {
        display: flex;
        gap: 1rem
    }

    footer,footer img {
        width: 100%
    }

    .social-media {
        max-width: 13%;
        margin-left: 3%
    }

    .social-icon {
        text-align: center
    }
}

@media screen and (max-width:500px) {
    .logo {
        padding: 2%;
        width: 60%;
        margin-left: 15%
    }

    .logo img,footer,footer img {
        width: 100%
    }

    .burger-button,.burger-menu {
        display: block
    }

    nav {
        display: none
    }

    .flex-2 ul {
        justify-content: space-between;
        margin-left: 20%;
        margin-right: 5%
    }

    .social-media {
        max-width: 20%;
    }

    .social-icon {
        text-align: center
    }

    .flex {
        display: flex;
        justify-content: space-evenly;
        align-items: center
    }

    .role {
        max-width: 20%
    }
}