/* Style du Carrousel en header */


.hero-content {
    max-width: 100%;
    max-height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
    position: relative;
    top: 0px;
    overflow: hidden;
}

/* .slidefade {
    display: none;
} */
.background-hero {
    background-color: red;
}
.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 20;
    font-family: 'Pacifico';
    color: white;
    text-shadow: rgb(0, 0, 0) 2px 0 20px;
}
/* Le container */
.slideshow-container {
    object-fit: cover;
    position: relative;
} */

/* cache les images par défaut */
.slide {
    display: none;
} */

.slide img {
    width: 100%;
}


/* Animation Fading  */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4;
    }

    to {
        opacity: 1;
    }
}

@keyframes fade {
    from {
        opacity: .4;
    }

    to {
        opacity: 1;
    }
}