body {
    font-family: "Roboto"
}

:root {
    --clr-1: #44638a;
    --clr-2: #4e7e8c;
    --clr-3: #e9cf2a;
    --clr-4: #d3d3d3;
  }

form {
    max-width: 500px;
    margin: 0 auto;
    border: solid var(--clr-1) 3px;
    border-radius: 10px;
    background-color: var(--clr-3);
    padding: .5em;
    text-align: center;
    margin-bottom: 20%;
}

.btn-submit,select {
    cursor: pointer;
    border-radius: 10px
}

.btn-submit {
    padding: 10px;
    background-color: var(--clr-2);
    border: solid 2px var(--clr-3);
    color: #fff;
    margin-top: 5%
}

label {
    display: block;
    padding: .4rem;
}

.login {
    margin-top: 10%;
    margin-bottom: 30%;
}

input[type=file] {
    padding: .8rem;
}

input[type=password],input[type=text] {
    width: 100%;
    padding: .5rem
}

input[type=date] {
    border: solid 2px var(--clr-1);
    background-color: var(--clr-2);
    height: 30px;
    width: 40%;
    border-radius: 20px
}

#activity_front input,textarea {
    margin-top: .5rem;
    font-family: "Roboto"
}

select {
    margin-top: .2rem;
    width: 50%;
    height: 1.5rem;
    font-size: 70%;
    background-color: var(--clr-1);
    border: 0;
    border-bottom: 2px solid var(--clr-1);
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    transition: color .3s ease,background-color .3s ease,border-bottom-color .3s ease
}

#activity_front_start_on {
    display: flex;
    justify-content: center;
    gap: 2rem
}

#activity_front_start_on_time select {
    height: 20px;
    border-radius: 20px
}

#activity_front_start_on_time,input[type=date],select {
    font-family: "Roboto";
    color: #fff;
    text-align: center
}

#activity_front_start_on_time {
    display: flex;
    border: solid 2px var(--clr-1);
    background-color: var(--clr-2);
    height: 30px;
    width: 40%;
    border-radius: 20px;
    margin-top: 8px
}

input::placeholder,textarea::placeholder {
    padding: .5rem
}

#activity_front_description {
    height: 5rem
}

select::-ms-expand {
    display: none
}

.select-icon svg.icon {
    transition: fill .3s ease;
    fill: #fff
}

select:focus,select:hover {
    color: var(--clr-1);
    background-color: #fff;
    border-bottom-color: #dcdcdc
}

select:focus~.select-icon,select:hover~.select-icon {
    background-color: #fff;
    border-color: #dcdcdc
}

select:focus~.select-icon svg.icon,select:hover~.select-icon svg.icon {
    fill: #17006a
}


textarea {
    width: 100%;
    /* resize: none; */
    padding: .5rem;
    min-height: 50px;
    resize: vertical;
}

.title-register {
    text-align: center;
    font-family: "Pacifico";
    color: var(--clr-1);
    padding: 1%
}

.wrapperform,.wrapperform .option {
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px
}

.wrapperform {
    display: inline-flex;
    height: 70px
}

.wrapperform .option .dot,.wrapperformreal,input[type=radio] {
    display: none
}

.wrapperform .option {
    background: var(--clr-3);
    height: 50%;
    display: flex;
    cursor: pointer;
    padding: 0 94px;
    transition: all .3s ease
}

.wrapperform .option-1 {
    background: var(--clr-2)
}

.wrapperform .option .dot::before {
    position: absolute;
    content: "";
    top: 4px;
    left: 4px;
    width: 12px;
    height: 12px;
    background: var(--clr-2);
    border-radius: 50%;
    opacity: 0;
    transform: scale(1.5);
    transition: all .3s ease
}

#option-1:checked:checked~.option-1 {
    background: var(--clr-2)
}

#option-2:checked:checked~.option-2 {
    background: var(--clr-3)
}

#option-1:checked:checked~.option-1 .dot,#option-2:checked:checked~.option-2 .dot {
    background: #fff
}

#option-1:checked:checked~.option-1 .dot::before,#option-2:checked:checked~.option-2 .dot::before {
    opacity: 1;
    transform: scale(1)
}

.wrapper .option span {
    font-size: 20px;
    color: gray
}

#option-1:checked:checked~.option-1 span,#option-2:checked:checked~.option-2 span {
    color: #fff
}

.wrapperform {
    margin-top: -20%
}

.parent-register {
    background-color: var(--clr-2)
}

@media screen and (max-width:500px) {
    form {
        max-width: 90%
    }

    .wrapperform .option {
        padding: 0 51px
    }
}