                    /* Style formulaire de base  */


body {
    font-family: 'Roboto';
}

form {
    max-width: 500px;
    margin: 0 auto;
    border: solid #44638a 3px;
    border-radius: 10px;
    background-color: #e8cf49;
    padding: 0.5em;
    text-align: center;
}

.btn-submit, button {
  padding: 10px 0;
  width: 60%;
  background-color: #4d7f8b;
  border: solid 2px #e8cf49;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 5%;
}

label {
    display: block;
}




                    /* Style formulaire de creation d'activités  */


/* input label textarea {
  font-family: 'Roboto';
} */


input[type=text], input[type=password] {
    width: 100%;
    padding: 0.5rem;
}

input[type=date] {
  font-family: 'Roboto';
  border: solid 2px #44638a;
  background-color: #4d7f8b;
  color: white;
  height: 30px;
  width: 40%;
  text-align: center;
  border-radius: 20px;
  padding: 1rem;

}
#activity_front input , textarea , select {
  margin-top: 0.5rem;
  font-family: 'Roboto';
}

#activity_front label {
display: none;
}

#activity_front_start_on {
display: flex;
margin-left: 2rem;
gap: 5rem;
}

#activity_front_start_on_time {
  display: flex; 
  width: 30%;
}

#activity_front_description {
  height: 7rem;
}
select {
  font-family: 'Roboto';
  width: 50%;
  height: 1.5rem;
  font-size: 70%;
  cursor: pointer;
  border-radius: 10px;
  background-color: #44638a;
  border: none;
  border-bottom: 2px solid #44638a;
  color: white;
  appearance: none;
  text-align: center;
  margin: 0.5rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  transition: color 0.3s ease, background-color 0.3s ease, border-bottom-color 0.3s ease;
}

select::-ms-expand {
  display: none; 
}

.select-icon {
  position: absolute;
  top: 4px;
  right: 4px;
  width: 30px;
  height: 36px;
  pointer-events: none;
  border: 2px solid #44638a;
  padding-left: 5px;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}
.select-icon svg.icon {
  transition: fill 0.3s ease;
  fill: white;
}

select:hover,
select:focus {
  color: #44638a;
  background-color: white;
  border-bottom-color: #DCDCDC;
}
select:hover ~ .select-icon,
select:focus ~ .select-icon {
  background-color: white;
  border-color: #DCDCDC;
}
select:hover ~ .select-icon svg.icon,
select:focus ~ .select-icon svg.icon {
  fill: #17006a;
}

textarea {
  width: 100%;
}




                    /* Style formulaire de connexion et d'inscription  */




.title-register {
  text-align: center;
  font-family: 'Pacifico';
  color: #44638a;
  padding: 1%;
}

.wrapperform{
  display: inline-flex;
  height: 70px;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 5px;
}
.wrapperformreal {display: none;}
.wrapperform .option{
  background: #e8cf49;
  height: 50%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 5px;
  cursor: pointer;
  padding: 0 94px;
  transition: all 0.3s ease;
}
.wrapperform .option-1{
  background: #4d7f8b;
}

.wrapperform .option .dot::before{
  position: absolute;
  content: "";
  top: 4px;
  left: 4px;
  width: 12px;
  height: 12px;
  background: #4d7f8b;
  border-radius: 50%;
  opacity: 0;
  transform: scale(1.5);
  transition: all 0.3s ease;
}
input[type="radio"]{
  display: none;
}
#option-1:checked:checked ~ .option-1 {
  background: #4d7f8b;
}
#option-2:checked:checked ~ .option-2{
  background: #e8cf49;
}
#option-1:checked:checked ~ .option-1 .dot,
#option-2:checked:checked ~ .option-2 .dot{
  background: #fff;
}
#option-1:checked:checked ~ .option-1 .dot::before,
#option-2:checked:checked ~ .option-2 .dot::before{
  opacity: 1;
  transform: scale(1);
}
.wrapper .option span{
  font-size: 20px;
  color: #808080;
}
#option-1:checked:checked ~ .option-1 span,
#option-2:checked:checked ~ .option-2 span{
  color: rgb(255, 255, 255);
}

.wrapperform {
  margin-top: -20%;
}

.parent-register {
  background-color: #4d7f8b;
}

.wrapperform .option .dot {
  display: none;
}