{% extends 'base.html.twig' %}

{% block title %} - FAQ{% endblock %}

{% block body %}
<h1>Bienvenue sur la Foire Aux Questions</h1>
<div class="faq-content">
        <h2 class="Faq-title">Pourquoi "Kimanim" ?</h2>
        <p>Kimanim n'a rien de japonais, c'est en quelques sortes un acronyme de "Qui m'anime ?"</p>

        <h2 class="Faq-title">Comment fonctionne Kimanim ?</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce dictum pellentesque rutrum. Sed ac blandit quam. Curabitur et dictum mi.</p>

        <h2 class="Faq-title">Comment sont recrutés les animateurs de Kimanim ?</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce dictum pellentesque rutrum. Sed ac blandit quam. Curabitur et dictum mi.</p>

        <h2 class="Faq-title">Quel est l'intérêt de nous confier vos enfants ?</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce dictum pellentesque rutrum. Sed ac blandit quam. Curabitur et dictum mi.</p>

        <h2 class="Faq-title">Ou pouvez-vous nous contacter ?</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce dictum pellentesque rutrum. Sed ac blandit quam. Curabitur et dictum mi.</p>

        <h2 class="Faq-title">Comment nous rejoindre ?</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce dictum pellentesque rutrum. Sed ac blandit quam. Curabitur et dictum mi.</p>
</div>
        
{% endblock %}
