{% extends 'base.html.twig' %}

{% block title %}- Les Activités{% endblock %}

{% block body %}

    <h1>Mes Activités</h1>
    {% set currentPage = 'user'%}
    {% for activity in activities %}
        {% include 'activites/_card.html.twig' %}
    {% endfor %}

{% endblock %}