{% extends 'base.html.twig' %}

{% block title %}Nouvelle Activité{% endblock %}

{% block body %}
    <h1>Modifier une activité</h1>

    {{ include('activites/_form.html.twig', {'button_label': 'Modifier'}) }}
    {{ include('activites/_delete_form.html.twig') }}
    <a href="{{ path('account_index') }}">Revenir aux activités</a>
{% endblock %}
